HOST=localhost
SERVER_PORT=8080
SERVER_READ_TIMEOUT=15
DB_PORT=27017
DB_NAME=test
PROVIDER_COLLECTION=providers
TASK_COLLECTION=tasks
DEVELOPER_COLLECTION=developers
MAX_CONNS_PER_HOST=1000
MAX_CONN_WAIT_TIMEOUT=60
READ_TIMEOUT=60
MAX_IDEMPOTENT_CALL_ATTEMPTS=3